<div class="column span-18 prepend-1 append-1 last">

	<h2>Volunteer Signup :</h2>

	<% form_for(@volunteer) do |f| %>
	<%= f.error_messages %>
	
	<%= render f %>
	
	<div class="span-13 prepend-5 last">
	<br>
	<%= f.submit 'Submit' %>
	<% end %>
	
	</div>
</div>