body {
/*	background: #fcc;*/
}

div.container {
	/* background: transparent url(../images/elmd04.png) 0 0; */
}

div.header {
background:#fff url(../images/header.png) 0 0 no-repeat;
height:126px;
min-height:126px;
}

div.navigation {
	background:#fff url(../images/navigation.png) 0 0 no-repeat;
	height:39px;
	min-height:39px;
}

div.sub-header {
	background:#fff url(../images/sub_header.png) 0 0 no-repeat;
	height:34px;
	min-height:34px;
}
div.content_bg {
	background:#FFFFFF url(../images/content.png) repeat-y scroll 0 0;
}

div.footer {
	background:#fff url(../images/footer.png) 0 0 no-repeat;
	height:107px;
	min-height:107px;
}
/*
#header h1, h2, h3 {
	color: #fff;
}
*/
/*#nav-buttons {
	color: #fff;
	font-size: 1.8em;
	text-align: center;
}
*/

/* --------- Accordian ----------- */
div#test-accordion{  
    border: 1px solid #385067;  
    background-color: #fff;  
	padding: 10px;  
}  
  
div.accordion {  
    position: relative; /* required for bounding */http://localhost  
    width: 800px;  
	/*font-size: 1.2em;*/
}  
  
div.accordion-toggle{  
    position: relative; /* required for effect */  
    z-index: 10;        /* required for effect */  
    background: #385067 url(../images/issue_off.jpg) repeat-x;  
    background-position: bottombottom;  
    color: #fff;  
    cursor: pointer;  
    margin-bottom: 1px;  
    padding: 9px 14px 6px 14px;  
    border-top: 1px solid #385067; 
 	font-size: 1.4em;
}  
  
div.accordion-toggle:hover, div.accordion-toggle-active{  
    background-image: url(../images/issue_on.jpg);  
    background-color: #a41d1d;  
    border-top: 1px solid #a41d1d;  
}  
  
div.accordion-content{  
    overflow: hidden;   /* required for effect */  
    background: #fff;  
    color: #000033;  
	font-size: 1.1em;
    border-bottom: 1px solid #fff; 
 	margin-left:20px;
}  
  
div.accordion-content p{  
margin: 9px 24px 6px 24px;  
}  

/* ---------- Accordian End --------------- */