body {
	background-image:url('../images/star_patt_red.jpg');
}

div.container {
	/* background: transparent url(../images/elmd04.png) 0 0; */
}

div.header {
background:#fff url(../images/header.png) 0 0 no-repeat;
height:126px;
min-height:126px;
}

div.navigation {
	background:#fff url(../images/navigation.png) 0 0 no-repeat;
	height:39px;
	min-height:39px;
}

#nav_titles ul {
	display:inline;
/*	left:40px;*/
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#nav_titles li {
	float:left;
	/*margin:0 12px;*/
}

#nav_titles li a{
	color:#FFFFFF;
	display:block;
	font-family:trebuchet ms,verdana,arial,helvetica,sans-serif;
	font-size:1.5em;
	/*font-weight:bold;*/
/*	height:44px;*/
	text-decoration:none;
	text-transform:uppercase;
	padding-top: 6px;
	width:115px;
}

div.sub-header {
	background:#fff url(../images/sub_header.png) 0 0 no-repeat;
	height:34px;
	min-height:34px;
}
div.content_bg {
	background:#FFFFFF url(../images/content.png) repeat-y scroll 0 0;
}

div.footer {
	background:#fff url(../images/footer.png) 0 0 no-repeat;
	height:107px;
	min-height:107px;
}

#facebook {
	padding-top: 23px;
}

#twitter {
	padding-top: 23px;
	padding-left: 10px;
}

#email_form {
	padding-top: 28px;
}

div.colborder {
	border-right:1px solid #AAAAAA;
}

hr {
	color:#AAAAAA;
	background:#AAAAAA none repeat scroll 0 0;
}

#left_label {
	padding-top: .5em;
}

#right_label {
	padding-top: .4em;
	height: 25px;
}

#right_input {
	padding-top: .4em;
	height: 25px;
}

#errorExplanation {
	border: 2px solid #a41d1d;
	padding: 4px;
}
div.right_box {
/*	background: #ccc;*/
}

div.left_box {
/*	background: #ccc;*/
}

/*
#header h1, h2, h3 {
	color: #fff;
}
*/
/*#nav-buttons {
	color: #fff;
	font-size: 1.8em;
	text-align: center;
}
*/

/* --------- Accordian ----------- */
div#test-accordion{  
    border: 1px solid #385067;  
    background-color: #fff;  
	padding: 10px;  
}  
  
div.accordion {  
    position: relative; /* required for bounding */http://localhost  
    width: 800px;  
	/*font-size: 1.2em;*/
}  
  
div.accordion-toggle{  
    position: relative; /* required for effect */  
    z-index: 10;        /* required for effect */  
    background: #385067 url(../images/issue_off.jpg) repeat-x;  
    background-position: bottombottom;  
    color: #fff;  
    cursor: pointer;  
    margin-bottom: 1px;  
    padding: 9px 14px 6px 14px;  
    border-top: 1px solid #385067; 
 	font-size: 1.4em;
}  
  
div.accordion-toggle:hover, div.accordion-toggle-active{  
    background-image: url(../images/issue_on.jpg);  
    background-color: #a41d1d;  
    border-top: 1px solid #a41d1d;  
}  
  
div.accordion-content{  
    overflow: hidden;   /* required for effect */  
    background: #fff;  
    color: #000033;  
	font-size: 1.1em;
    border-bottom: 1px solid #fff; 
 	margin-left:20px;
}  
  
div.accordion-content p{  
margin: 9px 24px 6px 24px;  
}  

/* ---------- Accordian End --------------- */