<div class="column span-18 prepend-1 append-1 last">
<h2>Editing Mailing List Recipient</h2>


<% form_for(@recipient) do |f| %>
  <%= f.error_messages %>

	<%= render f %>
 
	<div class="span-15 prepend-3 last">
	<br>

    <%= f.submit 'Update' %>

<% end %>
</div>
<%= link_to 'Back', recipients_path %>
</div>

