<div id="site_content" class="span-18 prepend-1 append-1 last">
<h2>About Eric Larson</h2>
<br>
<p></p><p>Raised in Michigan, Eric graduated from the University of Michigan Cum Laude with a Bachelor's in Science and Engineering in nuclear engineering. He then attended the University of Iowa College of Medicine where he earned his M.D. and then anesthesiology specialty training certification. His wife, Marcy, attended Luther College in Decorah, Iowa and earned her M.D. at the University of Iowa where she specialized in pediatrics.</p><br><p></p>
<p>After completing their training, Eric and Marcy settled in West Michigan to raise their family and practice medicine. Eric is an anesthesiologist who works throughout the Grand Rapids metro area. Marcy is a part-time pediatrician at Forest Hills Pediatrics and a full-time mother. They live in Cascade with their three wonderful children. They are active members of their church and engaged both socially and politically in the community.
</p>
<br>
<hr>
<h4>Eric Larson:</h4>
<ul>
	<li>Serves on the <a href="http://www.kentgop.org/" title="Kent County GOP">Kent County GOP</a> Executive Committee and is a precinct delegate</li>
	<li>Spokesman for <a href="http://www.kcffr.org/" title="Kent County Families for Fiscal Responsibility">Kent County Families for Fiscal Responsibility</a> which works to protect taxpayers and fight for government transparency</li>
	<li>Member of the <a href="http://www.msms.org/" title="MSMS">Michigan State Medical Society</a> and <a href="http://www.kcms.org/" title="Kent County Medical Society">Kent County Medical Society</a></li>
	<li>Serves on the <a href="http://www.msms.org/" title="MSMS">Michigan State Medical Society</a> Regulations/Legislation committee</li>
	<li>Member of <a href="http://www.asahq.org/" title="American Society of Anesthesiologists">American Society of Anesthesiologists</a></li>
	<li>Member of the <a href="http://www.aapsonline.org/" title="Association of American Physicians and Surgeons">American Association of Physicians and Surgeons</a></li>
	<li>Created the <a href="http://www.kcogp.org/" title="Kent County Open Government Project">Kent County Open Government Project</a> which warehouses local government expense accounts and access to their budgets</li>
	<li>Member of <a href="http://www.bsfinternational.org/" title="BSF">BSF (Bible Study Fellowship)</a></li>
</ul>
