<div id="site_content" class="span-18 prepend-1 append-1 last">
<h2>About Eric Larson</h2>
<br>
<p></p><p>Raised in Michigan, Eric graduated from the University of Michigan Cum Laude with a Bachelor's in Science and Engineering in nuclear engineering. He then attended the University of Iowa College of Medicine where he earned his M.D. and then anesthesiology specialty training certification. His wife, Marcy, attended Luther College in Decorah, Iowa and earned her M.D. at the University of Iowa where she specialized in pediatrics.</p><br><p></p>
<p>After completing their training, Eric and Marcy settled in West Michigan to raise their family and practice medicine. Eric is an anesthesiologist who works throughout the Grand Rapids metro area. Marcy is a part-time pediatrician at Forest Hills Pediatrics and a full-time mother. They live in Cascade with their three wonderful children. They are active in their church and politically in the community. 
</p>
<hr>
<h4>Eric Larson:</h4>
<ul>
	<li>Serves on the Kent County GOP Executive Committee and is a precinct delegate</li>
	<li>Is spokesman for Kent County Families for Fiscal Responsibility which works to protect taxpayers and fight for government transparency</li>
	<li>Is a member of the Michigan State Medical Society and Kent County Medical Society</li>
	<li>Serves on the Michigan State Medical Society Regulations/Legislation committee</li>
	<li>Is a member of the Anesthesia Society of America </li>
	<li>Is a member of the American Association of Physicians and Surgeons</li>
</ul>
