<div id="site_content" class="span-18 prepend-1 append-1 last">
	<br>
<h3>Any Contribution Would be Greatly Appreciated !</h3>
<br>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;<span class="alt"><span class="dquo">&#8220;</span>You can help us get the word out.&nbsp;&nbsp;  No amount is too small.  &#8221;</span></h3>
<br>
<div  class="span-4 prepend-1 ">
	<div class="span-4 contact_mode">
		<h4>Paypal :</h4>
	</div>
	<div class="span-4 contact_mode">
		<h4>Mail :</h4>
	</div>
</div>

<div class="span-11 last">
	<div class="span-11 contact_target">
		<%= link_to "Paypal", "http://www.paypal.com" %>
	</div>
	<div class="span-11 contact_target">
		<p>Eric Larson 2010<br>2215 Cascade Lakes Circle SE<br>Grand Rapids, MI  49546</p>
	</div>
</div>


