<div id="site_content" class="span-18 prepend-1 append-1 last">
<h3>Get in Touch with Eric Larson :</h3>
<br>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;<span class="alt"><span class="dquo">&#8220;</span>Let me know about the issues that are important to you. &nbsp;&nbsp;  Feel free to ask questions.&#8221;</span></h4>
<br>
<div  class="span-4 prepend-1 ">
	<div class="span-4 contact_mode">
		<h4>Mail :</h4>
	</div>
	<div class="span-4 contact_mode">
		<h4>Email :</h4>
	</div>
	<div class="span-4 contact_mode">
		<h4>Facebook :</h4>
	</div>
	<div class="span-4 contact_mode">
		<h4>Twitter :</h4>
	</div>
	<div class="span-4 contact_mode">
		<h4>RSS Feed :</h4>
	</div>	
	
</div>

<div class="span-11 last">
	<div class="span-11 contact_target">
		<p>Eric Larson 2010<br> PO Box 88026<br> Kentwood, MI  49518</p>
	</div>
	<div class="span-11 contact_target">
		<%= mail_to "eric@ericlarson2010.com", "eric@ericlarson2010.com" %>
	</div>
	<div class="span-11 contact_target">
		<a href="http://www.facebook.com/profile.php?id=1313239096"><img src="/images/facebook.png" alt="Follow Eric on Facebook"/></a>
	</div>
	<div class="span-11 contact_target">
		<a href="http://www.twitter.com/EricLLarson"><img src="/images/twitter.png" alt="Follow Eric on Twitter"/></a>
	</div>
	<div class="span-11 contact_target">
		<a href="/news_feed"><img src="/images/rss_feed.png" alt="RSS"/></a>
	</div>
	
</div>


