<div id="site_content" class="span-18 prepend-1 append-1 last">
<br>
<h3><span class="alt"><span class="dquo">&#8220;</span>The maximum contribution is $500 per person or $1000 per couple. <br>However any amount you can afford would be greatly appreciated. &#8221;</span></h3>
<br>
<div  class="span-4 prepend-1 ">
	<div class="span-4 contact_mode">
		<h4>Paypal :</h4>
	</div>
	<div class="span-4 contact_mode">
		<h4>Mail :</h4>
	</div>
</div>

<div class="span-11 last">
	<div class="span-11 contact_target">
		<%= link_to "Paypal", "http://www.paypal.com" %>
	</div>
	<div class="span-11 contact_target">
		<p>Friends of Eric Larson<br> PO Box 88026<br> Kentwood, MI  49518</p>
	</div>
</div>


