<div id="site_content" class="span-13 colborder">
	<p><img src="../images/family_70_325.jpg" class="top pull-1 right" alt="family"><br>Our state is a great place to live.  We are blessed with abundant resources and beautiful landscapes filled with fantastic neighbors.  West Michigan is an ideal environment to raise a family; however, we need to address the problems our government has created for this and future generations.  I believe we can reverse course and put our state’s economy back on track by enacting sensible government reforms.  Very simply, we need to return to the basic principles of limited government, individual responsibility, and free markets.<br><br>
As a physician, I have worked for over a decade to ease the pain of my patients during some of their most difficult times.  Now I feel a calling to take my energy and expertise to Lansing to diagnose and cure the problems Michigan is facing.  I appreciate your support in joining me as we work to change the direction of this great state.  Like you, I know that Michigan can once again be a destination that rewards innovation and offers unlimited opportunities for this and the next generation.</p> 
	<hr>
	<div class="span-13 ">
		<h6>Michigan's 72nd District</h6>
		<p><a href="http://house.michigan.gov/district_maps/dist072.pdf" target="_blank" title="Click for Detailed Map"><img src="../images/overview72nd.png" class="top pull-1 left" alt="Mi 72nd"></a><br>The 72nd district includes the townships of <strong>Caledonia</strong>, <strong>Cascade</strong>, and <strong>Gaines</strong> as well as the city of <strong>Kentwood</strong>. The primary will be held on Tuesday, August 3rd. The last day to register to vote is July 6th. Please check with your township or city clerk for details about registration and your polling location. Click on the map for a more detailed version.</p>
	</div>
</div>
<div class="span-6 last">
	<br>
	<a href="/contribute" style="padding-left: 14px;"><img src="../images/donate_200b.png" alt="donate"></a>
	<br><br>
	<hr>
	<h2><span class="alt">Latest News</span></h2>

	<% for post in @posts %>
		<div class="span-6 last">
			<div><%=h post.title %></div>		
			
			<div><blockquote><%= truncate(post.body, :length => 200)  %>
				<% if post.body.length > 199 %>
					<br><%= link_to "read more", post %>
				<% end %>
				</blockquote></div>
		</div>
	<% end %>
	<div class="span-4 prepend-2 last" style="padding-bottom: 14px;"><%= link_to "Older News", news_path %></div>
	<hr>	
	<p>	
		<script type="text/javascript">new SlideShow('listOfImages', {
  		slideDuration: 5,
  		transitionDuration: 2
		});</script>
	<ul id="listOfImages">
  		<li><img src="../images/slideshow/door.jpg" alt="greeting" /></li>
  		<li><img src="../images/slideshow/smiles.jpg" alt="smiles" /></li>
		<li><img src="../images/slideshow/scrubs.jpg" alt="smiles" /></li>
  		<li><img src="../images/slideshow/speaking.jpg" alt="township meeting" /></li>
		<li><img src="../images/slideshow/recovery_room.jpg" alt="smiles" /></li>
		<li><img src="../images/slideshow/fish.jpg" alt="fish" /></li>
		<li><img src="../images/slideshow/ice_cream.jpg" alt="ice_cream" /></li>
	</ul>
	
</p>

</div>
