<div class="span-13 colborder">
	<p><img src="../images/family.png" class="top pull-1 left" alt="family"><br><p>Our state is great place to live. We have beautiful abundant natural resources and fantastic people. West Michigan is a great place to raise a family but we need to address the problems of our state. I believe we can turn around our state's economy with sensible government reforms. We need to return to the basic principles of limited government, individual responsibility, and free markets. </p>
<p>As a physician, I have worked for the past ten years to help relieve people of their pain and suffering during difficult times in their lives.  Now I feel called to go to Lansing to attempt to work through the numerous problems facing Michigan.  I appreciate your support to help change the direction of our great state. Like you, I want a Michigan that rewards innovation and once again offers unlimited opportunities for our children.</p> 
	<hr>
	<div class="span-6 colborder">
		<h6>This is a nested column</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	</div>
	<div class="span-6 last">
		<h6>This is another nested column</h6>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	</div>
</div>
<div class="span-6 last">
	<br>
	<h2><span class="alt">Latest News</span></h2>

	<% for post in @posts %>
		<div class="span-6 last">
			<h5><%=h post.title %></h5>
			
			<blockquote><%=h post.created_at.strftime("%b %d")%> :: <%= truncate(post.body, :length => 250)  %></blockquote>
	
		</div>
	<% end %>
	<hr>
	<h2><span class="alt">Upcoming Events</span></h2>
	<p>Vestibulum ante ipsum primis in faucibus orci luctus vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue. sed aliquet vehicula, lectus tellus.</p>

</div>
