<div id="site_content" class="span-13 colborder">
	<p><img src="../images/family_70_325.jpg" class="top pull-1 right" alt="family"><br>Our state is a great place to live.  We are blessed with abundant resources and beautiful landscapes filled with fantastic neighbors.  West Michigan is an ideal environment to raise a family; however, we need to address the problems our government has created for this and future generations.  I believe we can reverse course and put our state’s economy back on track by enacting sensible government reforms.  Very simply, we need to return to the basic principles of limited government, individual responsibility, and free markets.<br><br>
As a physician, I have worked for over a decade to ease the pain of my patients during some of their most difficult times.  Now I feel a calling to take my energy and expertise to Lansing to diagnose and cure the problems Michigan is facing.  I appreciate your support in joining me as we work to change the direction of this great state.  Like you, I know that Michigan can once again be a destination that rewards innovation and offers unlimited opportunities for this and the next generation.</p> 
	<hr>
	<div class="span-6 colborder">
		<h6>Michigan's 72nd District</h6>
		<br>
		<p>The 72nd district includes the townships of <strong>Caledonia</strong>, <strong>Cascade</strong>, and <strong>Gaines</strong> as well as the city of <strong>Kentwood</strong>. The primary will be held on Tuesday, August 3rd. The last day to register to vote is July 6th. Please check with your township or city clerk for details about registration and your polling location.</p>
	</div>
	<div class="span-6 last">
		<h6>District Map</h6>
		<br>
		<p><img src="../images/overview72nd.png" alt="MI 72nd"></p>
		<p class="incr">(Temporary map)</p>
	</div>
</div>
<div class="span-6 last">
	<br>
	<h2><span class="alt">Latest News</span></h2>

	<% for post in @posts %>
		<div class="span-6 last">
			<div id="post_title" class="alt"><%=h post.title %></div>		
			<div id="post_date" class="alt"><%=h post.created_at.strftime("%b %d")%></div>
			<div><blockquote><%= truncate(post.body, :length => 250)  %>
				<% if post.body.length > 249 %>
					<br><%= link_to "read more", post %>
				<% end %>
				</blockquote></div>
		</div>
	<% end %>
	<hr>
	<h2><span class="alt">Upcoming Events</span></h2>
	<p>Vestibulum ante ipsum primis in faucibus orci luctus vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue. sed aliquet vehicula, lectus tellus.</p>

</div>
