<div id="site_content" class="span-13 colborder">
	<p><img src="../images/family_70_325.jpg" class="top pull-1 left" alt="family"><br><p>Our state is great place to live. We have beautiful abundant natural resources and fantastic people. West Michigan is a great place to raise a family but we need to address the problems of our state. I believe we can turn around our state's economy with sensible government reforms. We need to return to the basic principles of limited government, individual responsibility, and free markets. </p>
<p>As a physician, I have worked for the past ten years to help relieve people of their pain and suffering during difficult times in their lives.  Now I feel called to go to Lansing to attempt to work through the numerous problems facing Michigan.  I appreciate your support to help change the direction of our great state. Like you, I want a Michigan that rewards innovation and once again offers unlimited opportunities for our children.</p> 
	<hr>
	<div class="span-6 colborder">
		<h6>Michigan's 72nd District</h6>
		<br>
		<p>The 72nd House District in Michigan includes <strong>Cascade Township</strong>, <strong>Kentwood Township</strong>, <strong>Gaines Township</strong> and <strong>Caledonia Township</strong>.  It is the responsibility of the person elected in this district to take the views of it's citizens to Lansing in the State of Michigan House of Representatives.  The term of this appointment is two years.</p>
	</div>
	<div class="span-6 last">
		<h6>Important Facts - 72nd District</h6>
		<br>
		<p>Fun facts for all:
			<ul>
			<li>Lots of commerce and industry.</li>
			<li>Lots of people.</li>
			<li>Lots of stuff.</li>
		</ul></p>
	</div>
</div>
<div class="span-6 last">
	<br>
	<h2><span class="alt">Latest News</span></h2>

	<% for post in @posts %>
		<div class="span-6 last">
			<div id="post_title" class="alt"><%=h post.title %></div>		
			<div id="post_date" class="alt"><%=h post.created_at.strftime("%b %d")%></div>
			<div><blockquote><%= truncate(post.body, :length => 250)  %>
				<% if post.body.length > 249 %>
					<br><%= link_to "read more", post %>
				<% end %>
				</blockquote></div>
		</div>
	<% end %>
	<hr>
	<h2><span class="alt">Upcoming Events</span></h2>
	<p>Vestibulum ante ipsum primis in faucibus orci luctus vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus pulvinar neque, non cursus sem nisi vel augue. sed aliquet vehicula, lectus tellus.</p>

</div>
