<div id="site_content" class="span-18 prepend-1 append-1 last">
<br>
<h2>Thank you very much for your contribution!</h2>
<p>Don't forget to sign up for the mailing list to follow the campaign.</p>
</div>