<h1>The Issues</h1>

<div id="test-accordion" class="span-18 accordion"> 
	<% for issue in @issues %>     
	     <div class="accordion-toggle"><%= h issue.title %></div>      
	     <div class="accordion-content"><%= issue.body %></div>      
     <% end %>
</div>  
