<h2>Larson on the Issues</h2>

<div id="test-accordion" class="accordion"> 
	<% for issue in @issues %>     
	     <div class="accordion-toggle"><%= h issue.title %></div>      
	     <div class="accordion-content"><%= issue.body %></div>      
     <% end %>
</div>  
